
  <div class="mainSection">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 pages">
        <h1>About Us</h1>
        <h3>With over 200 executive searches delivered and a 95% success rate we are the best</h3>
        <p>Our Agile team focus on the client needs and ensure fast, high, impact results.</p>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 imagePl">
             <img src="<%=asset_path('chris.jpg') %>" alt="Chris" class="img-responsive">
          </div>
          <div class="col-lg-3"></div><br>  
          <p class="desc"><b>Chris Forbes </b>
            is an entrepreneur and CEO of award winning businesses. He is regularly featured in National Media and has worked at up to Board level with companies such as PWC and UBS.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 imagePl">
            <img src="<%=asset_path('Andrew.png') %>" alt="secure" class="img-responsive">
          </div>
          <div class="col-lg-3"></div><br>  
          <p class="desc"><b>Andrew Green,</b>
             Partner with over 20 years’ experience delivering to Morgan Stanley, Barclays Capital, Deutsche Bank and Hedge Funds in UK and Asia.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 imagePl">
            <img src="<%=asset_path('Charlie.png') %>" alt="useracc" class="img-responsive">
          </div>
          <div class="col-lg-3"></div><br>  
          <p class="desc"><b>Charles Forbes,</b>
             Founder, CSC large systems background. Worked at board level with  companies  such as CapGemini, PWC, EY and Deutsche Bank.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 imagePl">
            <img src="<%=asset_path('contactTelMail.jpg') %>" alt="privacy" class="img-responsive">
          </div>
          <div class="col-lg-3"></div><br>  
          <p class="desc1"><b>London </b><br>
             Chris 020 7190 2970<br>
             <span class="mail">chris.forbes@phdit.com</span><br>
             <b>Scotland</b><br>
             Charles 0777 564 6084<br>
             <span class="mail">charles@phdit.com</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>