<div class="mainSection">
		<div class="container">
			<div class="col-lg-12 pages">
				<h1>Contact us for a discreet conversation</h1>
				<h3>Headhunting for the Digital Age</h3>
				<p></p>
				<div class="col-lg-4">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
					   <img src="<%=asset_path('contactTel.jpg') %>" alt="tel" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc" style="font-size: 20px;">Chris 020 7190 2970 <br><br>
									Charles 0777 564 6084
					</p>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
					    <img src="<%=asset_path('contactMail.jpg') %>" alt="mail" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc mail">chris.forbes@phdit.com<br><br>
									charles@phdit.com
					</p>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl" style="margin-top: 25px;">
					    <img src="<%=asset_path('lombard.png') %>" alt="word" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc lomb">
					4 Lombard Street<br><br>
					London, EC3V 9HD
					</p>
				</div>
			</div>
		</div>
	</div>