<div class="mainSection">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 pages">
				<h1>PhD - Our Digital Platform</h1>
				<h3>Quicker, Faster, Transparency with the candidates and all stages of the Search</h3>
				<p>The platform is desgned for companies to create better workflows and management information by bringing it all together.</p>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('wordPdf.png')%>" alt="word" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc" style="text-align: left;"><b>Complete Transparency and Document Management.</b>
						Interviewers can download and upload formatted word
						and pdf job descriptions via the platform.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('excel.png')%>" alt="excel" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc" style="text-align: left;"><b>Reduce tracking tools.</b><br>
						No more excel spreadsheets monitoring, stages, dates, and interview 
						feedback, get the workflow via the platform.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('mail.png')%>" alt="mail" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc" style="text-align: left;"><b>Save time and resources,</b>
						you will no longer have to track all the email communications on feedback. Everything is now on one platform.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
					    <img src="<%=asset_path('calen.png')%>" alt="mail" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc" style="text-align: left;"><b>More efficient</b>
						 interview dates and stages are automated via emails to the candidates meaning less errors and easier data collection or alternatively?
					</p>
				</div>
			</div>
		</div>
	</div>
