<div class="mainSection">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 pages">
				<h1>Secure Data & Privacy Policy</h1>
				<h3>Documents via The Google Cloud</h3>
				<p>The system architecture is container based meaning that each client gets their own version of the software</p>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('google.jpg') %>" alt="google" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc"><b>Google Cloud </b>
						is a fast and secure cloud architecture fully compliant with industry standards. The system is container based and everyone gets their own secure environment..
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('secure.jpg') %>" alt="secure" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc"><b>Secure Data Storage,</b>
						 The Google Cloud has the most advanced data encryption and numerous disaster recovery layers to ensure your data is safe and secure.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('userAcc.jpg') %>" alt="useracc" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc"><b>User Access Control,</b>
						the master admin function means that people can only see the work streams and data that are assigned to them.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 imagePl">
						<img src="<%=asset_path('privacy.jpg') %>" alt="privacy" class="img-responsive">
					</div>
					<div class="col-lg-3"></div><br>	
					<p class="desc"><b>Privacy </b>
						 we are fully compliant with the Data Protection Act 1998 and all personal and company details are secure and not shared between users within the wider platform.
					</p>
				</div>
			</div>
		</div>
	</div>